.card{
    width: 300px;
    height: 150px;
    border-radius: 5px;    
    border: 1px solid rgb(219, 204, 68);
    padding: 20px 20px;
    margin: 20px 20px;
    background-color:  rgb(234, 235, 174);

}

.url{
    color: red;
}