.logo-img{
    height: 90px;
    width: 200px;
    margin: 0 10px;

}

.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px 20px;
    background-color: red;


}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    

}

ul{
    margin-top: 30px;
}

a:hover{
    color: #f1f1f1;
    
}

/* responsiveness */
@media only screen and (min-width: 414px) and (max-width: 414px) and (min-height: 736px) and (max-height: 736px) {
    /* Your CSS styles for devices with a width of 414 pixels and a height of 736 pixels go here */
    .logo-img{
        height: 45px;
        width: 100px;
        margin: 20px 20px;
    
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        
        background-color: red;
        width: 100%;
        padding-right: 50px;
       
        
        
    
    
    }
  }

  /* samsung s series */
  /* responsiveness */
@media only screen and (min-width: 360px)  and (min-height: 740px){
    /* Your CSS styles for devices with a width of 414 pixels and a height of 736 pixels go here */
    .logo-img{
        height: 45px;
        width: 100px;
        margin: 20px 20px;
    
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        
        background-color: red;
        width: 100%;
        padding-right: 50px;
       
        
        
    
    
    }
  }